<section class="footer" id="contact-us">
    <div class="footer-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 content copy">
            <h1>&copy;All Rights Reserved</h1>
          </div>
          <div class="col-12 col-sm-12 col-md-3 content contact ">
            <h1>Contact Us : +919478335645</h1>
          </div>
          <div class="col-4 col-sm-4 col-md-1 content facebook link">
            <a href=""><h1>f</h1></a>
          </div>
          <div class="col-4 col-sm-4 col-md-1 content gmail link">
            <a href=""><h1>g</h1></a>
          </div>
          <div class="col-4 col-sm-4 col-md-1 content linked link">
            <a href=""><h1>in</h1></a>
          </div>
        </div>
      </div>
    </div>
  </section>