<section class="why-us">
    <div class="text-container">
        <p>LocalHost is India's first "technology driven home rental marketplace" to make lives better by making it simple to rent homes. We are a discovery platform which offers ready to move-in individual rooms to tenants for long stays without any maintenance worry, convenience of online rent payment and freedom to move across our homes.</p>
    </div>
    <div class="image-container img">
      <img src="https://d2sexymrhewzz1.cloudfront.net/sites/default/files/styles/large/public/hero/2016-11/Why%20Scape_Smarter%20Rooms_1980x880_0.jpg" alt="">
    </div>
  
    <div class="gif-container">
      <div class="tagline">
        Smarter, brighter, better rooms
      </div>
      <div class="contain">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="gif-content">
              <img src="assets/about/Sweeter_Dreams.gif" alt="">
              <h4>Sweeter Dreams</h4>
              <hr>
              <p>The better you sleep, the faster you learn. So all our students get double beds and their own heat controls.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <div class="gif-content">
                <img src="assets/about/First_Class_Studying.gif" alt="">
                <h4>First-class studying</h4>
                <hr>
                <p>Roomy desks for books, notes and laptops. Superfast WiFi connections. Everything students need to put in the hours and get the results.</p>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <div class="gif-content">
                <img src="assets/about/Healthier_Living.gif" alt="">
                <h4>Healthier living</h4>
                <hr>
                <p>All our studios have kitchens made for making square meals. Because takeaways and microwave meals should be every now and then, not every night.</p>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <div class="gif-content">
                <img src="assets/about/Mightier_Mornings.gif" alt="">
                <h4>Mightier mornings</h4>
                <hr>
                <p>With en suite and power showers, your days will get off to a flying start leaving you ready to take on the world.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="image-container img2"></div>
  
    <div class="gif-container">
        <div class="tagline">
            Brilliant buildings
        </div>
        <div class="contain">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <div class="gif-content">
                <img src="assets/about/Whenever_Workouts.gif" alt="">
                <h4>Breakout workouts</h4>
                <hr>
                <p>Healthy body, healthy mind. With access to fitness centres, students can take a break while breaking a sweat.</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Big_Nights_In1.gif" alt="">
                  <h4>Big nights in</h4>
                  <hr>
                  <p>Huge communal kitchens to cook up a storm for a big group. And an HD cinema room for some well-earned escapism.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Space_To_Study3.gif" alt="">
                  <h4>Space to study</h4>
                  <hr>
                  <p>Whether it's for group work or brainstorming, communal study spaces with superfast wifi mean the library isn't the only place our students get things done.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Healping_Hand.gif" alt="">
                  <h4>A helping hand</h4>
                  <hr>
                  <p>Unlike lots of other student accommodation, our buildings have Scape people available 24/7 to keep you safe, happy and taken care of. Whatever the problem, there's always someone on hand.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="image-container img3"></div>
  
    <div class="gif-container">
        <div class="tagline">
            A year that lasts a lifetime
        </div>
        <div class="contain">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <div class="gif-content">
                <img src="assets/about/Broadening_Minds_02.gif" alt="">
                <h4>Broadening minds</h4>
                <hr>
                <p>From the horizon-broadening or the just-plain-useful, Scape students can see talks from travel bloggers to entrepreneurs, philosophers to personal finance experts.</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Strengthening_Skills1.gif" alt="">
                  <h4>Sharpening skills</h4>
                  <hr>
                  <p>Languages. Cookery. Health and fitness. We bring in experts from all fields to help our students learn new life-skills on a daily basis.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Opening_Doors1.gif" alt="">
                  <h4>Opening doors</h4>
                  <hr>
                  <p>Careers should begin before degrees have finished. We help our students meet potential employers and get ready for the world of work.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="gif-content">
                  <img src="assets/about/Sharing_Stories1.gif" alt="">
                  <h4>Sharing stories</h4>
                  <hr>
                  <p>We share stories from students inside Scape. And we keep up links with our students who have graduated so that they can help those who haven't.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
  <div class="image-container img4"></div>
  </section>