<div class="about-container">
    <div class="text-area">
      <h1>Don't just rent a home, get a lifestyle</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 order-md-1 col-md-6 content-box image1">
            </div>
            <div class="col-sm-12 order-md-2 col-md-6 content-box text">
                  <h4>Brighter rooms</h4>
                  <p>Our rooms are created by award-winning designers to keep you relaxed, rested and ready to do the best work of your life.</p>
            </div>
            <div class="col-sm-12 order-md-4 col-md-6 content-box image2">
            </div>
            <div class="col-sm-12 order-md-3 col-md-6 content-box text">
                <h4>Brilliant buildings</h4>
                <p>From private gyms to cinema screens, study zones to communal kitchens, you won’t find anything quite like Scape student accommodation.</p>
            </div>
            <div class="col-sm-12 order-md-5 col-md-6 content-box image3">
            </div>
            <div class="col-sm-12 order-md-6 col-md-6 content-box text">
                <h4>A headstart for life after uni</h4>
                <p>Every month, we run talks to broaden your mind, workshops to sharpen your skills and events to open up doors for life after uni.</p>
            </div>
          </div>
    </div>
</div>