*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.property-listing-container{
  width:100%;
  padding:50px 10px;
  background-color:rgba(28,146,210,0.1);
}
/* filter */
.filter-tag{
  width:90%;
  margin:50px auto;
}
.filter-tag input{
  width:100%;
  height:50px;
  margin:0px 10px;
  display: inline-block;
}
.filter-tag select{
  width:100%;
  height:50px;
  margin:0px 10px;
  text-align: center;
  display: inline-block;
}
/* listing */
#wrap{
	width: 90%;
	max-width: 1200px;
  margin: 50px auto;
  text-align:center;
}
.columns{
  float:none;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
  transform: scale(1.1);
}
#columns:hover figure:not(:hover) {
  opacity: 0.4;
}
div#columns figure {
	display: inline-block;
	background:white;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin:30px 7px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	padding:15px;
	padding-bottom:20px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:100px;
  font-weight:600;
  text-overflow:ellipsis;
  padding-left:10px;
  padding-right:10px; 
}
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}

/* details */
.item{
  margin:5px auto;
  margin-bottom:10px;
  text-align: left;
}
.item i span{
  padding-left:10px;
  font-family:josefin sans;
}
.heart i{
  font-size:18px;
}

.address i{
  font-size:22px;
}
.address h4,.address h5,.address h6{
  display:inline;
  font-family:josefin sans;
  margin:10px auto;
}
.address h4{
  font-size:18px;
  padding-left:10px;
}
.address h5{
  font-size:16px;
}
.address h6{
  font-size:14px;
}